{% load static %}
<div class="container-fluid">
    <div class="row">
    {% if user.is_authenticated %}
      {% include 'frontend/productComponents/sideNavBarProducts.html' %}
    {% endif %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

            <div class="col-4">
                <h1 class="h2">Products</h1>
            </div>
            <div class="col">
                {% include 'frontend/productComponents/filterBar.html' %}
            </div>
            
        </div>
        
        {% if user.is_authenticated %}
        <div class="row g-4 mb-3">
          {% include 'frontend/productComponents/managerAddProduct/managerAddProductComponent.html' %}
        </div>
        {% endif %}

        <div id='productsList' class="row row-cols-1 row-cols-md-3 g-4"></div>
      </main>
    </div>
  </div>

  <script src="{% static 'js/createDiv.js' %}"></script>
  <script src="{% static 'js/product/create/createProductCard.js' %}"></script>
  <script src="{% static 'js/product/create/createProductDescriptionCard.js' %}"></script>
  <script src="{% static 'js/product/filter/filterProducts.js' %}"></script>
  <script src="{% static 'js/product/filter/filterProductsOnChange.js' %}"></script>
  <script src="{% static 'js/cart/add/addToCart.js' %}"></script>
  <script>
    
    $( document ).ready(function() {
      allProd();
    });
  </script>