<div class="container-fluid">
    <div class="row">
    {% if admin %}
      {% include 'frontend/productComponents/sideNavBarProducts.html' %}
    {% endif %}    
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Products</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a onclick="">Name</a></li>
                  <li><a href="#">Price</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products_info%}            
            <div class="col">
                <div class="card">
                    <img src="{{ product.photo_url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>                        
                        <p class="card-text">
                            Code {{ product.code|default:"unknown" }}
                        </p>
                        <p class="card-text">$ {{ product.price }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
        <div class="table-responsive">
        </div>
      </main>
    </div>
  </div>